.appartementdescription{
padding-inline: 3rem;
flex-basis: 50%;
}
    
.descriptionheader {
background-color: #ff6060;
padding: 0.2em 1em;
border-radius: 10px;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 52px;
}
        
.descriptioncontent {
background-color: #F6F6F6;
border-radius: 0.7rem;
padding: 1rem;
position: relative;
top: -1.5rem;
z-index: -1;
padding-top: 30px;
}
    
.arrowup {
font-size: 1.5rem;
cursor: pointer;
}

@media screen and (width <=768px) {
.appartementdescription {
padding-inline: 1.2rem;
}

.descriptionheader {
height: 30px;
border-radius: 5px;
}

}