.grid {
background-color: #F6F6F6;
min-height: 50vh;
border-radius: 2rem;
display: flex;
flex-wrap: wrap;
padding: 5rem;
gap: 4rem;
justify-content: center;
}

@media screen and (width <= 768px) {
.grid {
justify-content: center;
background-color: white;
padding: 0;
gap: 1.2rem;
}
}
